<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://akkount/menu.application" insertBefore="administration">
        <item id="akk_Operation.lookup"
              shortcut="Ctrl-Shift-O"/>
        <separator/>
        <item id="categories-report"/>
        <separator/>
        <item id="akk_Currency.lookup"/>
        <item id="akk_Category.lookup"/>
        <item id="akk_Account.lookup"/>
    </menu>

    <item screen="akk_User.browse" caption="msg://akkount.screen.user/UserBrowse.caption" insertBefore="ui_JmxConsoleScreen"/>

</menu-config>