<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://akkount/menu.application.title" opened="true">
        <item view="akk_User.list" title="msg://akkount.view.user/UserListView.title"/>
    </menu>

</menu-config>